.portada{
    object-fit: contain;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../public/assets/portada.jpg');
    background-attachment: fixed;
    background-size: cover;
    
}

.image{
    width: 45vw;
    margin-top: -60px;
}


.flecha{
    transform: rotate(45deg);
    border-bottom: 8px solid black;
    border-right: 8px solid black;
    position: absolute;
    width: 40px;
    height: 40px;
    animation-name: flecha;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes flecha {
    0% {
        transform: translate(0,-10px) rotate(45deg);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(0,10px) rotate(45deg);
        opacity: 0;
    }
  }