.portada{
    object-fit: contain;
    /* width: 100vw; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../public/assets/portada.jpg');
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.portada img{
    margin:100px;
}