.regalosSection{
    margin-top: 100px;
    background-color: #83A26D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.regalosSection img{
    width: 150px;
}

.regalosSection div{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}