.dressCodeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    color: white;
}

.dressCodeSection{
    background-color:#e7a261 ;
    /* background-color:#e29a56 ; */
    /* background-color:#b95252 ; */
    /* background-color:#D1B165 ; */
}