.galeriaContainer{
    display: grid;
    width: 90vw;

    grid-template-columns: repeat(auto-fit, minMax(250px, 1fr));
    
    grid-gap: 5px;
}

.galeriaContainer img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    transition: all .4s;
    object-fit: cover;
}

.galeriaContainer img:hover{
    transform: scale(1.1);
}

.galeriaSection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
