.graciasContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    color: white;


}

.graciasSection{
    background-color:#e29a56 ;
    /* background-color:#D1B165 ; */
}