.graciasContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
    color: black;


}

.graciasSection{
    background-color:white ;
    /* background-color:#D1B165 ; */
}
