@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Old+Standard+TT&display=swap');

body {
    margin: 0;
}

p {
    font-size: 18px;
    font-family: 'Old Standard TT', serif;
    font-style: italic;
    text-align: center;
}

h4 {
    /* font-family: 'Montserrat', sans-serif; */
    text-align: center;
    letter-spacing: 4px;
    font-size: 22px;
    /* font-weight: 900; */
}

button {
    font-family: 'Montserrat', sans-serif;
    padding: 10px 40px;
    font-size: 22px;
    font-size: 1rem;
    line-height: 1.5;

    
 }
.iconos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
}


